<div class="left-col">
  <h1></h1>
  <div class="content-detail-info album-info">
    <img src="<%= coverUrl %>">
    <h2 class="content-detail-name"><%= title %></h2>
    <h3>by <%= artist %></h3>
    <div class="material-icons">play_circle_filled</div>
    <div class="material-icons">favorite_border</div>
  </div>
  <!-- <ul class="action-list">
        <li>
            Albums
        </li>
        <li>
            Singles & EPs
        </li>
        <li>
            Compilations
        </li>
    </ul> -->
</div>
<div class="center-col">
  <h1>Track list</h1>
  <div class="center-col-content">
    <table class="playlist">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Artist</th>
          <th>Duration</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr song-id="7" onclick="playSong(this)">
          <td>1</td>
          <td>Song 1</td>
          <td>......</td>
          <td>2:51</td>
          <td><button class="material-icons-round"> more_horiz </button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Song 2</td>
          <td>......</td>
          <td>2:51</td>
          <td><button class="material-icons-round"> more_horiz </button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Song 3</td>
          <td>......</td>
          <td>12:51</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Song 3</td>
          <td>......</td>
          <td>12:51</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Song 3</td>
          <td>......</td>
          <td>12:51</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Song 3</td>
          <td>......</td>
          <td>12:51</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Song 3</td>
          <td>......</td>
          <td>12:51</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Song 3</td>
          <td>......</td>
          <td>12:51</td>
          <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Song 3</td>
            <td>......</td>
            <td>12:51</td>
            <td></td>
          </tr>
      </tbody>
    </table>
    <div class="comment">
      <div class="create-comment">
        <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg">
        <input class="create-comment" type="text" placeholder="Enter your comment here...">
      </div>
      <div class="comment-list"> 
        <div class="total-comments">
          4 comments
        </div>
        <ul>
          <li>
            <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg">
            <div class="comment-name">
              Hoang Tuan Huy
            </div>
            <div class="comment-content">  
              Dem qua anh tuyet lam!
            </div>
            <div class="comment-date">
              1 hour ago
            </div>
          </li>
          <li>
            <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg">
            <div class="comment-name">
                Hoang Tuan Huy
            </div>
            <div class="comment-content">              
                            
            </div>
            <div class="comment-date">
                1 hour ago
            </div>
          </li>
          <li>
            <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg">
            <div class="comment-name">              
              Hoang Tuan Huy  
            </div>
            <div class="comment-content">
                
            </div>
            <div class="comment-date">
                1 hour ago
            </div>
          </li>
          <li>
            <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg">
            <div class="comment-name">  
              Duong Trung Hieu
            </div>
            <div class="comment-content">
                ?
            </div>
            <div class="comment-date">
                1 hour ago
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
