<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/frame.css" />
		<script src="/assets/js/component.js"></script>
		<script src="/assets/js/player.js"></script>
		<script src="/assets/js/script.js"></script>
		<script src="/assets/js/navigation.js"></script>
		<title></title>
	</head>
	<body>
		<nav class="bar-horizontal">
			<div>
				<div class="button-onbar">LIFE</div>
				<div class="button-onbar">Library</div>
			</div>
			<div style="position: relative">
				<div
					style="position: absolute; line-height: 1.75rem"
					class="icon-font"
				>
					search
				</div>
				<input
					type="text"
					id="input-search"
					placeholder="Search here"
					oninput="search(this.value)"
				/>
			</div>
			<div><a href="/logout">Logout</a></div>
		</nav>
		<main>
			<div id="page-view"><%- content %></div>
			<div></div>
		</main>
		<div class="bar-horizontal">
			<div class="control-area">
				<button class="icon-font">skip_previous</button>
				<button id="button-play" class="icon-font" onclick="toggleMusic()">
				</button>
				<button class="icon-font">skip_next</button>
				<div></div>
				<button class="icon-font">volume_up</button>
				<range-slider
					id="slider-vol"
					value = 100
					oninput="player.volume = (0.5 * this.value)/100"
				></range-slider>
			</div>
			<div
				style="
					display: grid;
					grid-template-columns: 5ch 1fr 5ch;
					column-gap: 1rem;
					align-items: center;
				"
			>
				<h4 class="number" id="time-elapsed">--:--</h4>
				<range-slider
					id="slider-time"
					onchange="seek(this.value)"
				></range-slider>
				<h4 class="number" id="time-length">--:--</h4>
			</div>
			<div class="control-area" style="flex-direction: row-reverse">
				<button class="icon-font">queue_music</button>
				<button class="icon-font">shuffle</button>
				<button class="icon-font">repeat</button>
				<div
					style="
						width: 100%;
						padding-bottom: 0.2rem;
						overflow: hidden;
					"
				>
					<b id="current-song"></b>
					<h4 id="current-artist"></h4>
				</div>
			</div>
		</div>
	</body>
</html>
