<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/stylesheet.css" />
    <link rel="stylesheet" href="assets/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
    <script src="assets/js/animation.js"></script>
  </head>

  <body onload="generateMovingRect()">
    <header></header>
    <main class="dialog-overlay">
      <div id="login-content" class="dialog">
        <h1>Log in to continue</h1>
        <form method="POST" action="login" class="login-info">
          <% if(status == 1) { %>
            <span>Invalid</span>
          <% } %>
          <div class="login-info">
            <input
              type="text"
              placeholder="Username"
              name="username"
              required
            />
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
            />
            <input type="submit" value="Log in" />
          </div>
        </form>
        <div>
          <span>Don't have a account?</span>
          <a href="signup.html"> Sign up </a>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
