<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/frame.css" />
	<title>LIFE - Register</title>
</head>

<body>
	<form class="dialog" method="POST" action="/signup">
		<h1>Register</h1>
		<div class="dialog-content">
			<div class="flex-form">
				<label>Name:</label>
				<input type="text" name="name">
				<label>E-mail:</label>
				<input type="text" name="email">
				<label>Password:</label>
				<input type="password" name="password">
				<label>Confirm Password:</label>
				<input type="password">
				<br>
				<a href="/login">Sign in now!</a>
				<br>
				<button>Register</button>
			</div>
		</div>
	</form>
</body>

</html>