.content-detail-info{
    display: inline-block;
    width: 100%;
    margin-right: 1rem;
}

.content-detail-info > img{
    width: 50%;
    aspect-ratio: 1 / 1;
}

.artist-info > img{
    border-radius: 50%;
}

.content-detail-name{
    padding-top: 0 !important;
}

.padding-2rem{
    height: 2rem;
}

.content-category{
    margin-bottom: 1.5rem;
}
.content-list{
    font-size: 0;
    padding: .5rem;
}

.content{

}

.content.default{
    position: relative;
    display: inline-block;
    width: calc(25% - 1rem);
    margin: 0 .5rem 1rem;
}
.content.default > .animated{
    transition: transform 0.3s;
    transform-origin: 30% 60%;
}
.content.default:hover > .animated {
    transform: perspective(400px) rotateY(10deg);
    transition: transform 0.1s;
}
.content.default > img{
    width: 100%;
    aspect-ratio: 1/1;
}
.content.default:hover > img{
    width: 100%;
    aspect-ratio: 1/1;
}
.content-info > br{
    line-height: .1rem;   
}
.content-name{
    font-weight: 500;
}
.content-time{
    font-size: 0.8rem;
}

.content-control{
    position: absolute;
    bottom: 2.2rem;
    right: 0;
    padding: 1rem 0;
    text-align: right;
    transition: right 0.2s;
    overflow: hidden;
}
.content-control > button{
    display: block;
    margin: 0 -100% .25rem auto;
    padding: 0 .5rem;
    height: 1.2rem;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: margin-right 0.2s;
    background-color: var(--background-overlay);
    backdrop-filter: blur(7px);
    line-height: 1.2rem;
}

.content.default:hover > .content-control > button{
    margin-right: 0;
}

.content-control > button > *{
    vertical-align: top;
    line-height: 1.2rem;
}

.content-control > button:hover{
    padding-right: 1rem;
}

.content-control > button:nth-child(1){
    transition-delay: 0.05s;
}
.content-control > button:nth-child(2){
    transition-delay: 0.15s;
}
.content-control > button:nth-child(3){
    transition-delay: 0.25s;
}



/* .content.default:hover > .content-control > button:nth-child(1){
    transition-delay: 0s;
}
.content.default:hover > .content-control > button:nth-child(2){
    transition-delay: 0.1s;
}
.content.default:hover > .content-control > button:nth-child(3){
    transition-delay: 0.2s;
} */