@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&family=Barlow+Condensed:wght@300&family=Barlow+Semi+Condensed:wght@400&family=Barlow:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

:root.darkmode {
	--bar-height: 2.5rem;

	--background: hsl(0, 0%, 12%);
	--background-light: hsl(0, 0%, 18%);

	--main: hsl(0, 0%, 72%);

	--accent: hsl(214, 90%, 46%);

	--shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	--shadow-small: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	--gradient: linear-gradient(
			140deg,
			hsl(0, 0%, 24%, 0.5) 0%,
			hsl(0, 0%, 16%, 0.9) 100%
		),
		linear-gradient(180deg, hsl(0, 0%, 24%, 0.8) 85%, hsl(0, 0%, 12%) 100%);

	--inset-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
	--inset-gradient: linear-gradient(
		140deg,
		hsl(0, 0%, 18%, 0.8) 0%,
		hsl(0, 0%, 20%, 0.8) 30%,
		hsl(0, 0%, 21%, 0.8) 85%,
		hsl(0, 0%, 18%, 0.8) 100%
	);

	--gradient: linear-gradient(
			140deg,
			hsl(0, 0%, 24%, 0.5) 0%,
			hsl(0, 0%, 16%, 0.9) 100%
		),
		linear-gradient(180deg, hsl(0, 0%, 24%, 0.8) 85%, hsl(0, 0%, 12%) 100%);

	--shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.2);
}

:root {
	--bar-height: 2.5rem;

	--background: hsl(0, 0%, 88%);
	--background-light: hsl(0, 0%, 96%);

	--main: hsl(0, 0%, 28%);

	--accent: hsl(214, 90%, 46%);

	--shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
	--shadow-small: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	--gradient: linear-gradient(
			140deg,
			hsl(0, 0%, 24%, 0.5) 0%,
			hsl(0, 0%, 16%, 0.9) 100%
		),
		linear-gradient(180deg, hsl(0, 0%, 24%, 0.8) 85%, hsl(0, 0%, 12%) 100%);

	--inset-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.2);
	--inset-gradient: linear-gradient(
		140deg,
		hsl(0, 0%, 98%, 0.9) 0%,
		hsl(0, 0%, 96%, 0.9) 30%,
		hsl(0, 0%, 94%, 0.9) 85%,
		hsl(0, 0%, 98%, 0.8) 100%
	);

	--gradient: linear-gradient(
			140deg,
			hsl(0, 0%, 86%, 0.5) 0%,
			hsl(0, 0%, 82%, 0.9) 100%
		),
		linear-gradient(180deg, hsl(0, 0%, 82%, 0.8) 85%, hsl(0, 0%, 72%) 100%);
	--shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.077rem;
	background-color: var(--background);
}

@media only screen and (max-width: 720px) {
	:root {
		--bar-height: 3.25rem;
	}

	html {
		font-size: 14px;
	}
}

body {
	font-family: "Barlow", "Arial", sans-serif;
	color: var(--main);
}

main {
	position: relative;
}

p {
	line-height: 1.5rem;
}

h1 {
	font-family: "Barlow Condensed", "Arial", sans-serif;
	font-size: 1.57rem;
	letter-spacing: 0.003rem;
}

h2 {
	font-family: "Barlow Semi Condensed", "Arial", sans-serif;
	font-size: 1.3rem;
	letter-spacing: 0.018rem;
}

h3,
th {
	font-size: 1.06rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
}

h4,
h5,
h6 {
	font-size: 0.72rem !important;
	font-weight: 500;
}

b {
	font-weight: 600;
}

input,
select {
	font-size: 1rem;
	line-height: 1.75rem;
	height: 1.75rem;
	border: none;
	outline: none;
}

button,
input[type="button"],
input[type="reset"] {
	padding: 0rem 0.75rem;

	font-size: 1rem;
	line-height: 1.75rem;

	/* background: hsl(0, 0%, 24%); */
	background: var(--gradient);
	color: var(--main);
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	/* background: hsl(223, 68%, 35%); */
	background: linear-gradient(
			180deg,
			hsl(0, 0%, 24%, 0) 85%,
			hsl(0, 0%, 12%, 0.3) 100%
		),
		linear-gradient(140deg, hsl(223, 80%, 60%) 0%, hsl(223, 80%, 32%) 100%);
	color: hsl(0, 0%, 88%);
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
	padding: 0rem 0.75rem;

	color: var(--main);
	background: var(--background);
	background: var(--inset-gradient);
	border-radius: 5px;
	box-shadow: var(--inset-shadow);
}

.grid-table {
	/* padding: 0.75rem 0.5rem 1.5rem; */
}
.grid-table > div {
	display: grid;
	column-gap: 1.5ch;
	height: 2.25rem;
	border-radius: 5px;
}

.grid-table > div:not(:first-child):hover {
	background-color: hsl(0, 0%, 50%, 0.2);
}

.grid-table > div > * {
	line-height: calc(2.25rem - 0.1em);
}

.grid-table > div > *:first-child {
	font-family: "Azeret Mono", "Barlow", "Arial", sans-serif;
	text-align: right;
	font-size: 0.96rem;
	letter-spacing: 0;
	line-height: 2.25rem;
}

.flex-form {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 10px 10px;
	width: 100%;
}

.flex-form > label,
.flex-form > br {
	flex-grow: 2;
}

ul {
	padding: 1rem 0;
	list-style-type: none;
}

li {
	line-height: 1.75rem;
	margin: 0.25rem;
	cursor: pointer;
	width: max-content;
	margin-left: auto;
	margin-right: 0;
}

.error {
	color: hsl(0, 90%, 44%);
}

.icon-font {
	font-family: "Material Icons Round";
	font-size: 24px;
}

.number {
	font-family: "Azeret Mono", "Barlow", "Arial", sans-serif;
	font-size: 0.96rem;
	letter-spacing: 0;
}

.upper-text {
	font-size: 0.8rem;
	vertical-align: 0.23rem;
}

.none {
	display: none;
}

[class|="grid"] {
	display: grid;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-reversed {
	display: flex;
	flex-direction: row-reverse;
}

range-slider {
	display: inline-block;
	width: 100%;
}

/*----dialog styling----*/

.dialog {
	position: fixed;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	perspective: 1000px;

	min-width: 480px;

	background: var(--background);
	border-radius: 10px;

	transition: opacity 0.1s linear, z-index 0s 0.1s;
	opacity: 1;
	z-index: initial;
}

.dialog > * {
	margin: 1.25rem;
}

.dialog::before {
	content: "";

	position: absolute;
	top: calc(-500vh + 50%);
	left: calc(-500vw + 50%);

	transform: translateZ(-200px);

	display: block;
	width: 1000vw;
	height: 1000vh;

	background-color: hsl(0, 0%, 18%, 0.4);
	backdrop-filter: blur(10px);
}

.dialog.hidden {
	z-index: -10;
	opacity: 0;
	transition: opacity 0.1s linear, z-index 0s;
}

/* .dialog > h1 {
} */

.dialog-content {
	display: flex;
	flex-direction: row;
}

.dialog-controls {
	/* position: absolute;
	bottom: 0; */
	margin-top: 2rem;
	width: calc(100% - 40px);

	text-align: right;
}
.dialog-controls > * {
	vertical-align: top;
}

[class^="dialog-button-"],
.dialog-button {
	min-width: 10ch;
	height: 2rem;
}

#button-play::before {
	content: "play_arrow";
	display: block;
}

#button-play.paused::before {
	content: "pause";
}
